# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
#bzip2==1.0.8
#ca-certificates==2023.01.10
#libffi==3.4.4
#docopt==0.6.2
#fonttools==4.39.4
pip==23.0.1
google-auth-oauthlib==1.0.0
#jax==0.4.10
joblib==1.2.0
keras==2.11.0
kiwisolver==1.4.4
mediapipe==0.9.0.1
ml-dtypes==0.1.0
numpy==1.21.6
opencv-contrib-python==4.7.0.72
#openssl==1.1.1t
pipreqs==0.4.13
pyparsing==3.0.9
#python==3.10.11=h966fe2a_2
scikit-learn==1.0.2
setuptools==66.0.0
sounddevice==0.4.6
#sqlite==3.41.2
streamlit==1.22.0
tensorboard==2.11.2
tensorboard-data-server==0.7.0
tensorflow==2.11.0
tensorflow-addons==0.20.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
threadpoolctl==3.1.0
#tk==8.6.12
tqdm==4.65.0
#tzdata==2023c
#vc==14.2
#vs2015_runtime==14.27.29016
wheel==0.38.4
#xz==5.4.2
yarg==0.1.9
#zlib==1.2.13
